<ion-header>
  <ion-toolbar>
    <ion-title>salvar-gênero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Digite o gênero da musica: </ion-label>
    <ion-input type="text" name="nome" [(ngModel)]="genero.nome"></ion-input>
  </ion-item>

  <ion-button color="dark" expand='full' (click)="salvar()">salvar</ion-button>

  <ion-button expand='full' href="salvar-sugestoes">sugestoes de músicas</ion-button>

  <ion-button expand='full' href="salvar">musica</ion-button>

</ion-content>
